.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .type-description {
  }

  .func-description {
    margin-bottom: 22px;
  }

  .func-params {
    margin-left: 14px;
  }
  
  .param-item:before {
    content: '-';
  }

  .param-name {
    font-weight: bold;
  }

  .param-type {
    color: blue;
    margin-left: 6px;
    font-style: italic;
  }

  .param-desc {
    margin-bottom: 14px;
    font-size:0.9em;
  }

  .func-return-type {
    font-weight: lighter;
    font-size: 0.7em;
    color: blue;
    margin-right: 8px;
  }
  .func-returns {
    margin-left: 14px;
    font-size:0.9em;
  }